<!doctype html>
<html>
  <head>
  </head>
    <body>
      {{#hashSlash}}
      <  <h3><a href ="/feed">Gabble</a></h3>
        <h3><a href ="/new-gab">Create a new gab</a></h3>
        <h3>Logged in as {{}}</h3>
        <h3><a href ="/sign-up">Sign up</a></h3>
        <h3><a href= "/likes">Likes</a></h3>
        <h2>Log In</h2>
        <fieldset>
          <div class="feed">
            <div class= "featured-gab">
              <!-- {{mustache and date of post}} -->
            </div>
            <h2>Liked by:</h2>
            <ul>
              <li>
                <!-- {{mustache}} -->
              </li>
            </ul>

          </div>

      {{/hashSlash}}
        </fieldset>
      </form>
    </body>
</html>
