
<!doctype html>
<html>
  <head>
    <link href="login.css" rel="stylesheet">

  </head>
    <body>
      <h3><a href ="/feed">Gabble</a></h3>
      <h3><a href ="/new-gab">Create a new gab</a></h3>
      <h3>Logged in as {{}}</h3>
      <h3><a href ="/sign-up">Sign up</a></h3>
      <h3><a href= "/likes">Likes</a></h3>
      <h2>Log In</h2>
      <form action="/" method="post">
        <fieldset>
          <label for="username">Username</label>
          <input type="text" name="username" placeholder="username">
          <label for="password">Password</label>
          <input type="text" name="password" placeholder="password">
          <div class="form__submit-button">
              <input type="submit">
          </div>
        </fieldset>
      </form>
    </body>
</html>
