
<!doctype html>
<html>
  <head>
    <link href="./style.css" rel="stylesheet">

  </head>
    <body>
      <h3><a href ="/feed">Gabble</a></h3>
      <h3><a href ="/new-gab">Create a new gab</a></h3>
      <h3>Logged in as {{}}</h3>
      <h3><a href ="/sign-up">Sign up</a></h3>
      <h3><a href= "/likes">Likes</a></h3>
      <h2>Log In</h2>
      <form action="" method="post">
        <fieldset>
          <label for="">Create a new gab</label>
          <input type="text" name="message" placeholder="hey everyone! I got something real important to say...">
          <div class="form__submit-button">
              <input type="submit" value= "">
          </div>
        </fieldset>
      </form>
    </body>
</html>
